@use "../../assets/sass/variables.scss" as *;
@use "../../assets/sass/mixins.scss" as *;

@media screen and (min-width: 481px) and (max-width: 768px) {
    .nav-link {
        a {
            margin: 0 0.05em;
            text-decoration: none;
        }

        a:visited {
            color: $secondary-font-color;
        }
    }
}

@media screen and (min-width: 769px) {
    .nav-link {
        width: 100%;
            font-family: $primary-font;
            font-weight: 400;
            color: $secondary-font-color;

            a {
                margin: 0 1.5rem;
                text-decoration: none;
                color: $secondary-font-color;
            }

            a:visited {
                color: $secondary-font-color;
            }
    }
}