$primary-background: white;
$primary-color: #bae8e8;
$secondary-color: #272643;
$secondary-font-color: #8c9cb1;
$rights-color: #5f5f73;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Inter:wght@400;500;600;700&display=swap");

$primary-font: "Inter";
$secondary-font: "DM Sans";

$skill-image-size: 5em;

$section-margin: 1.5em;
$margin-tablet: 2em;

$margin-mobile: 2em;
